@{
    Layout = "_Layout.cshtml";
}

<div class="container body-content">
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Te interesa ser parte de la comunidad? Tú mismo puedes ser parte de nosotros enviando un <a href="https://github.com/comunidades-ms/portal-ms">pull-request a nuestro repositorio</a> en GitHub. <strong>Comunidades Microsoft</strong> no está afiliado, ni es parte de Microsoft. Este es un proyecto de fuente abierta publicado y mantenido <a href="#">por la comunidad y para la comunidad</a>.</p>
    </footer>
</div>