@using Firehose.Web.Infrastructure
@model IAmACommunityMember[]

@{ Html.RenderPartial("Map", Model.Where(m => m.Position != GeoPosition.Empty).ToArray()); }

<div class="container body-content">
    <div class="container">
        @{ Html.RenderPartial("List", Model); }
    </div>
    <hr />
    <footer>
        <p>Te interesa ser parte de la comunidad? Tú mismo puedes ser parte de nosotros enviando un <a href="https://github.com/comunidades-ms/portal-ms">pull-request a nuestro repositorio</a> en GitHub. <strong>Comunidades Microsoft</strong> no está afiliado, ni es parte de Microsoft. Este es un proyecto de fuente abierta publicado y mantenido <a href="#">por la comunidad y para la comunidad</a>.</p>
    </footer>
</div>

@section scripts {
    <script>
        var timeoutId = 0;

        $('.live-search-box').on('keyup', function () {
            clearTimeout(timeoutId); // doesn't matter if it's 0
            timeoutId = setTimeout(function () {
                var searchTerm = $('.live-search-box').val().toLowerCase();
                searchTerm = searchTerm.replace(/\s+/g, '');

                $('.profileCard').each(function () {
                    var lowerId = $(this).attr('id').toLowerCase();
                    if (lowerId.indexOf(searchTerm) > -1 || searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }, 500);
        });
    </script>
}