@model Firehose.Web.Infrastructure.IAmACommunityMember[]

<div class="alert alert-info text-center" role="alert">
    <i class="fa fa-info-circle"></i> El orden es aleatorio. Actualiza para barajar.
</div>

<div class="text-center col-md-12">
    <input type="text" class="live-search-box form-control text-center" placeholder="Buscar un miembro de la comunidad..." />
</div>

@foreach (var member in Model)
{
    Html.RenderPartial("ProfileCard", member);
}