@model System.Exception
@{
    ViewBag.Title = "Error :)";
}

<section class="container">
    <div class="row area">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>
            <p>
                Recorcholis, pasó algo desafortunado. Aquí puedes encontrar información técnica adicional que te puede ser útil para saber qué salió mal.
                No hay información adicional aquí? Revisa los <a href="~/logs">logs</a> tú mismo, depúralo y mándanos un <a href="https://github.com/comunidades-ms/portal-ms/pulls">pull request</a>! O espera a que nosotros lo hagamos.
            </p>

            @if (Model != null)
            {
                <div class="alert alert-warning">
                    @Model.Message @Model.StackTrace
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    No hay información adicional disponible.
                </div>
            }

                <p>Para alegrar tu día, aquí tienes una foto de !</p>

            <div class="text-center">
                <img src="~/Content/img/deathstar_monkey.jpg" class="img-rounded" title="Awww" alt="Funny" />
            </div>
        </div>
    </div>
</section>
