@using Firehose.Web.Controllers
@using MvcNavigationHelpers
@using Firehose.Web.Infrastructure
@model IAmACommunityMember[]

@{
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<h1>Bienvenido!</h1>
<p>Hola, y bienvenido a Comunidades Microsoft!</p>
<p>
    Somos amantes de la tecnología y hemos publicado este portal para que todos sean parte de esto. Por qué leer de forma individual los artículos de la comunidad si puedes suscribirse a un solo espacio y ver todo el contenido generado por los miembros de la comunidad. Pero si el RSS no es lo tuyo, puedes seguir nuestras cuentas de <a href="https://twitter.com/comunidades_ms">Twitter</a> o <a href="https://www.facebook.com/cmsperu">Facebook</a> que se actualizan automáticamente con el contenido más reciente que los miembros de la comunidad publican.
</p>
<hr/>
<div class="leader row text-center">
    <div class="col-md-4">
        <i class="fa fa-rss"></i>
        <h1>Dónde está el contenido?!</h1>
        <p>
            Puedes ir a la opción RSS en esta página y lo encontrarás; o puedes suscribirte al <a href="@(Url.UrlFor<FeedController>(c => c.Index(null, null)))">contenido manualmente.</a>
        </p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-book"></i>
        <h1>Puedo leerlo aquí mismo?</h1>
        <p>
            Puedes hacerlo, pero no queremos disminuir el tráfico de los sitios individuales de nuestros miembros. Aquí tienes un
            <a href="@(Url.UrlFor<PreviewController>(c => c.Index(null)))">vistazo</a> en caso de que todavía estés decidiendo suscribirte.
        </p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-users"></i>
        <h1>Quienes son ustedes?</h1>
        <p>
            Somos miembros de la comunidad! <br/>Puedes <a href="@(Url.UrlFor<AuthorsController>(c => c.Index()))">leer más acerca de nosotros aquí.</a>.
        </p>
    </div>
</div>

<hr />

<h2>Opiniones de los miembros de la comunidad</h2>
<p>

    <ol>
        <li>Nos enorgullecemos de la diversidad de pensamiento: nuestra fortaleza está en nuestras experiencias únicas de puntos de vista colectivos.</li>
        <li>Nos encanta compartir esta diversidad con la comunidad, y no censuramos ni seleccionamos estos blogs, sino que representan las opiniones de los miembros de la comunidad.</li>
        <li>Proporcionamos una <a href="">manera de optar por el contenido que se distribuye</a> y alentar a los miembros a usarlo.</li>
    </ol>
</p>
<hr />
<h1>Ya eres parte de la comunidad?</h1>
<p>Genial! Es bueno que estés dentro de comunidades!</p>
<p>
    Puedes presumir esto ante el mundo poniendo esta insignia en tu blog. Y si pones un enlace de vuelta a nuestro portal eso sería totalmente increíble!
</p>
<img class="featuredbadge" src="~/Content/img/comunidades-featured-badge.png" alt="Featured on Community badge" />


